<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="/scripts/main.js"></script>
<link rel="stylesheet" href="/styles/style.css" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta property="og:image" content="https://rinojs.org/images/rino512.png" />
<meta property="og:site_name" content="Rino.js website" />