<aside class="sidebar" id="sidebar">
    <div class="sidebar-icon-content">
        <a href="https://github.com/rinojs" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
        <a href="https://www.npmjs.com/package/rinojs" target="_blank"><ion-icon name="logo-npm"></ion-icon></a>
    </div>
    <div class="sidebar-text-content">
        <h4>Main</h4>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="https://github.com/sponsors/opdev1004" target="_blank">Support my project</a>
                </li>
            </ul>
        </nav>
        <script @type="js" type="text/javascript">
            const args = JSON.parse(process.argv[1]);
            const categoryLinks = args.categoryLinks;
            if (categoryLinks && Object.keys(categoryLinks).length > 0)
            {
                console.log("<h4>Contents</h4><nav><ul>");
                for (const [category, link] of Object.entries(categoryLinks))
                {
                    const [theme] = category.split("/");
                    if (theme !== "en") continue;
                    console.log(`<li><a href="${link}">${category.replace("en/", "").replace(/-/g, ' ').replace(/\b\w/g, c => c.toUpperCase())}</a></li>`);
                }
                console.log("</ul></nav>");
            }
        </script>
        <h4>License</h4>
        <p>
            Rino.js is Free, MIT licensed opensource project
        </p>
    </div>
    <div class="sidebar-empty-zone" id="sidebar-empty-zone" onclick="main.runContentTab()"></div>
</aside>