
html {
    min-width: auto !important;
}

body {
    overflow-wrap: break-word;
    font-family: 'Noto Sans Mono', monaco, Consolas, "Lucida Console", Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

.button {
    margin: 5px 0px !important;
}

.mainview {
    max-width: 940px;
    min-height: calc(100vh - 30px);
    margin: 60px auto 0px auto !important;
}

.section h1
{
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    word-break: break-word;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.section h2
{
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    word-break: break-word;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.section h3
{
    margin-top: 24px;
    margin-bottom: 12px;
}

p
{
    margin-top: 1.5em !important;
}






.merchImg {
    width: 256px;
}

.mt-3 {
    margin-top: 6px;
}

.subtitle {
    font-size: 1.5em;
}

.mainview .section p
{
    font-size: 1.1em;
}

#mainTitle {
    width: 600px;
    margin: 50px auto;
    color: #212121;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

#mainTitle h1 {
    font-size: 1.4em;
    width: 100%;
}

#mainTitle h2 {
    font-size: 1em;
}

#mainImg {
    margin: auto;
}

.non-selectable {
    user-select: none;
}

.ml-4 {
    margin-left: 8px !important;
}

@media all and (max-width: 620px) {
    #mainTitle {
        width: auto;
        color: #212121;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }

    .mainview .section .title {
        font-size: 1.4em;
    }

    .mainview .section .subtitle {
        font-size: 1.3em;
    }
}

@media all and (max-width: 300px) {
    #mainImg {
        width: 100%;
    }
}



header {
    margin: 0px auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 940px !important;
    position: fixed;
    z-index: 9999;
}

.navbar {
    border-bottom: 1px solid #ccc;
}

#header-logo-link {
    display: inline-block;
}

#header-logo-link:hover {
    opacity: 0.8;
}

#header-logo-text {
    margin-left: 5px;
    display: inline-block;
    height: 32px;
    vertical-align: bottom;
}

.topHolder {
    height: 1px;
    width: 100%;
    margin: 0px;
}

    .floatingchat-container-wrap,
    .floating-chat-kofi-popup-iframe {
        left: initial !important;
        right: 16px;
    }

    @media all and (max-width: 500px) {
        .floatingchat-container-wrap,
        .floating-chat-kofi-popup-iframe {
            display: none;
        }
    }

footer .subtitle {
    font-size: 1.3em;
}

footer .content {
    width: 940px;
    margin: 0 auto;
}

@media all and (max-width: 940px) {
    footer .content {
        width: 100%;
    }
}

